*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 微軟正黑體;
}
/* 橫幅 */
#banner {
    width: 100%;
    /* vh 螢幕高度 */
    height: 100vh;
    background-image: url(./Banner/Cakes.jpg);
    /* 背景-尺寸：填滿 - 50%、500px */
    background-size: cover;
    color: white;
}

#banner nav {
    padding: 30px;
}

#banner a {
    color: white;
    /* 文字-裝飾：無 */
    text-decoration: none;
    font-size: 24px;
    padding: 0 30px;
    transition: 0.3s;
}

body{
    color: #eee;
    height:4000px;

}


   
#banner a:hover{
    color: #aaa;

}


#banner p {
        text-align: center;
        margin-top: 250px;
        /* 透明度：值 - 0 ~ 1 */
        opacity: 0.7;
        font-size: 20px;
        padding: 30px;
    }
    
#banner hr {
        width: 300px;
        opacity: 0.7;
    }
    
#banner h1 {
        text-align: center;
        font-size: 120px;
        padding: 30px;
    }

    
    
    /* 最新消息 */
#news {
    width: 1200px;
    margin: 0 auto;
    height: 100vh;
    background: #eee;
    display: grid;
    grid-template-columns: 1fr 1fr;
    /*格線間隙*/
    grid-gap: 50px;
    padding: 100px 0;
    text-align: left;
    }

#news > div {
    background: #fff;
}

#news h3{
    color: #aaa;
    padding: 20px;
    font-weight: 100;
    text-transform: uppercase;
    letter-spacing: 5px;
}

#news hr{
    width: 350px;
    margin: 0 auto;
}

#news h1 {
    font-size: 32px;
    font-weight: 100;
    padding: 20px;
}

#news p{
    padding: 30px;
    text-align: left;
    line-height: 2;
    color: #aaa;
}


#news #news-left {
    height: 350px;
    background-image: url(./img/chocolatecakes.jpg);
}

#news #news-right {
    height: 350px;
    background-image: url(/Banner/cup\cakes.jpg);
}

/*按鈕樣式*/
a.button {
    text-decoration: none;
    color: #aaa;
    border: 1px solid #aaa;
    padding: 10px 50px;
    transition: 0.5s;
}

a.button:hover {
    color: white;
    background: #aaa;
}


/*盒子區塊*/
#box{
    background-image: url(./img/candy.jpg);
    background-attachment: fixed;

}

#box h2{
    text-align: center;
    color: white;
    font-size: 32px;
    padding: 100px 0;
    /*背景濾鏡 模糊*/
    backdrop-filter: blur(5px);
    letter-spacing: 10px;
    padding-left: 10px;
    font-weight: 100;
}